body {
    background-color: #292929;
    color: #8f7b7b;
    justify-items: center;

}
#heroList {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
div.heroHolder{
    display: flex;
    width: 75rem;
    height: auto;
    background: #222121;
    justify-items: center;
    align-content: center;
    padding: 8px 8px;
}
h2{
    font-size: 1.7rem;
}
li {
    margin-bottom: 2rem;
    font-size: 1.4rem;
}
.hero-card {
    position: relative;
    inset: 0;
    overflow: hidden;
    margin-top: 20px;
    background: #292929;
    padding: 5px 5px;
    transition: .3s ease all;
}
.hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    transition: opacity 0.4s ease;
}

.hero-card:hover {
    border-radius: 10px;
    border: 1px solid #8f7b7b;
    transform: scale(1.1);
    transition: .3s ease all;
}

.hero-card:hover .hero-img {
    opacity: 0;
}
img.yoda {
    position: absolute;
    justify-items: center;
    margin-left: 50px;

}
